<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <script>
            function logChange() {

                const now = new Date();

                const hours = now.getHours();
                const minutes = now.getMinutes();
                const seconds = now.getSeconds();

                const timeString = `${hours}:${minutes}:${seconds}`;

                let uname = document.getElementById('username').value
                let pwd1 = document.getElementById('password').value
                let pwd2 = document.getElementById('password2').value


                let xhr = new XMLHttpRequest()

                xhr.open("POST", '/register_log_change', true);
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.send("uname="+uname+"&pwd1=" + pwd1+"&pwd2=" + pwd2 + "&time=" + timeString +  "&csrfmiddlewaretoken="+getCSRFToken());

            }

            function getCSRFToken() {
                let cookies = document.cookie.split(";")
                for (let i = 0; i < cookies.length; i++) {
                    let c = cookies[i].trim()
                    if (c.startsWith("csrftoken=")) {
                        return c.substring("csrftoken=".length, c.length)
                    }
                }
                return "unknown"
            }

            function showPwd() {
                var x = document.getElementById("password");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }

                x = document.getElementById("password2");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            } 
        </script>
    </head>
    <body>
        <img src="{% static 'logo.png' %}" style="height: 100px;">
        <form method="post" action="{% url 'try_register' %}" autocomplete="off">
            <div style="width: 40%; padding-top: 10px; padding-bottom: 10px;">
                Register here with your Prolific ID and a password.
                <div class="to_note">
                    Please make sure your password is not one you currently use or have used for any real account.
                </div>
                However, please treat this password as you would the password for any other high-value account -
                like an email or bank account.
                Design and remember your password accordingly. 
            </div>
            <div class="to_note"> {{error_msg}}</div>
            Prolific ID:
            <br>
            <input type="text" id="username" name="username" value="{{prolific_id}}" oninput="logChange()">
            <br>
            Password:
            <br>
            <input type="password" id="password" name="password" value="" oninput="logChange()">
            <br>
            Confirm Password:
            <br>
            <input type="password" id="password2" name="password2" value=""oninput="logChange()">
            <br>
            <input type="checkbox" onclick="showPwd()">Show Password 
            <br>
            <button type="submit" id="submit_username">Submit</button>
            {% csrf_token %}
        </form>
    </body>
</html>